<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="logo-container center">
                    <img width="100%" src="/images/logo.png" alt="Stock Filter" class="logo"><span class="beta white-text">BETA</span>
                </div>
            </div>
            <div class="col s12 m4 l4 offset-l2">
                <h5 class="white-text">Disclaimer</h5>
                <p class="grey-text">This information is provided for self-directed investors to make their own decisions. The information on this website does not constitute investment advice. In the absence of exact data source for fund holdings, benchmark indices and other index funds are used for close approximation.</p>
            </div>
            <div class="col offset-l1 s6 m2 l2">
                <h5 class="white-text">Company</h5>
                <ul>
                    <li><a class="grey-text" target="_blank" href="https://www.website.com/team/">About</a></li>
                    <li><a class="grey-text" target="_blank" href="https://www.website.com/privacy-policy/">Privacy</a></li>
                    <li><a class="grey-text" target="_blank" href="https://www.website.com/terms-of-service/">Terms</a></li>
                </ul>
            </div>
            <div class="col s6 m2 l2">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="grey-text" target="_blank" href="https://www.website.com/press-kit/">Press Kit</a></li>
                    <li><a class="grey-text" target="_blank" href="https://www.website.com/faq/">FAQ</a></li>
                    <li><a class="grey-text" target="_blank" href="mailto:info@website.com">Email Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="divider center"></div>
    <div class="footer-copyright">
        <div class="container center">
            <p>Find Us On</p>
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="facebook-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="twitter-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <i class="linkedin-icon"></i>
                    </a>
                </li>
            </ul>
            © 2017 Stock Filter, LLC
        </div>
    </div>
</footer>
