<section class="container sdg-index">
    <div class="standard logo-container">
        <img width="100%" src="/images/logo.png" alt="Stock Filter" class="logo"><span class="beta">BETA</span>
    </div>

    <h1 class="stock-filter-secondary-text upper bold">The Index of General Sustainability</h1>
    <p>This index is guided by the United Nation’s efforts for a more sustainable future by their focus on their 17 Sustainable Development Goals (SDGs). In efforts to affect change for a more sustainable future we have put our intelligence landscape to use to conglomerate a list of the companies and funds making the largest efforts to impact the world in one, or multiple, SDGs. For more information on this you can simply <a href="https://sustainabledevelopment.un.org/sdgs" target="_blank">click here</a>.</p>
    <section class="row back-link-container">
        <span class="sources-links">Sources include: <a href="https://www.unglobalcompact.org/library/3111" target="_blank" class="source-link">The UN Global Impact</a>, <a href="https://www.huffingtonpost.com/ingrid-embree/how-17-companies-are-tack_b_11991808.html" target="_blank" class="source-link">The Huffington Post</a>, <a href="http://www.coca-colacompany.com/stories/sustainable-development-goals" target="_blank" class="source-link">The Coca-Cola Company</a></span>
    </section>

    <section class="row back-link-container">
        <a href="#funds/all" class="back-link"><i class="material-icons arrow_back">arrow_back</i><span class="back"> Back To Filter</span> </a>
    </section>
    <section class="row sdg-slider">
        <div class="wrap">
            <button class="controls left">
                <span class="prev"><i class="material-icons chevron_left">chevron_left</i></span>
            </button>
            <div class="frame" id="centered">
                <ul class="clearfix">
                    <% _.each(SDGs, function(SDG) { %>
                    <li>
                        <a href="#index/<%= SDG.goalNumber %>"><i class="sdg sdg-<%= SDG.goalNumber %>"><span class="label">SDG Goal <%= SDG.goalNumber %> -  <%= SDG.description %></span></i></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <button class="controls right">
                <span class="next"><i class="material-icons chevron_right">chevron_right</i></span>
            </button>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="indexCol-container" class="row">
    </section>
</section>
