<div class="logo-container center">
    <img width="100%" src="/images/OnePebble_Logo-marine-horizontal.png" alt="One Pebble" class="logo"><span class="beta">BETA</span>
</div>


<div class="row powerful-tool">
    <div class="col s12">
        <h4 class="section-title">Is your fund <span class="no-category-animation">gun</span><span class="category-animation">gun|alcohol|tobacco|porn|fossil fuel|gambling</span> free? Let’s find out.</h4>
    </div>
    <div class="col s12">
        <h5 class="section-description">Invest and Divest Wisely - Filter funds that match your values.</h5>
    </div>
</div>

<nav class="password">
    <div class="nav-wrapper">
        <form action="/login" autocomplete="off">
            <div class="input-field op-input">
                <input id="password" type="password" class="onepebble-primary" placeholder="Enter Password" required>
                <a class="waves-effect waves-light btn onepebble-highlight password-enter">Enter</a>
            </div>
        </form>
    </div>
</nav>
