<nav>
    <div class="nav-wrapper">
        <form action="/login">
            <div class="input-field op-input">
                <input id="password" type="password" class="onepebble-primary" placeholder="Enter Password" required>
                <a class="waves-effect waves-light btn onepebble-highlight password-enter">Enter</a>
            </div>
        </form>
    </div>
</nav>
