<!-- JST data.enableBrand -->
<% if(enableBrand) { %>
<a href="/" class="brand-logo waves-effect waves-light btn"><img width="120" src="/images/logo.png" alt="Stock Filter" class="logo"></a>
<% } %>

<div data-activates="slide-out" class="button-collapse closed <%= enableBrand ? 'brand' : 'no-brand' %>">
    <i class="material-icons menu">menu</i>
</div>

<!-- JST data.enableBrand -->
<form class="<%= enableBrand ? 'brand' : 'no-brand' %>" autocomplete="off">
    <div class="input-field">
        <input id="search" class="autocomplete" autocomplete="off" type="search" placeholder="Test another fund" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons close">close</i>
    </div>
</form>
