html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format("woff2");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #F2F2F2 !important;
  font-family: Avenir, Helvetica, Arial, sans serif;
}

h1 {
  font-size: 3.0rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2.0rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.3rem !important;
}

h6 {
  font-size: 1.1rem !important;
}

nav {
  background-color: transparent;
}

/* COLORS */
input:not([type]), input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}

/* search correction */
nav .input-field label {
  top: -10px;
}

.values-category .supported {
  display: none;
}
.values-category .against {
  display: unset;
}
.values-category.checked .supported {
  display: unset;
}
.values-category.checked .against {
  display: none;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 20px;
  width: 20px;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
  content: '\d7';
  font-size: 24px;
  line-height: 17px;
  color: darkred;
}

.nav-wrapper {
  background: white;
}

.nav-wrapper .input-field.op-input input[type=password] {
  height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav-wrapper .input-field.op-input input[type=password]:focus {
  color: black;
}

.input-field.op-input input[type=password] {
  display: block;
  line-height: inherit;
}
.input-field.op-input input[type=password] + .btn {
  position: absolute;
  top: 14px;
  right: 10px;
}
.input-field.op-input input[type=password]:focus {
  color: black;
}

/* label color */
.op-input input {
  font-size: 1.2rem !important;
}
.op-input input[type=search]:focus,
.op-input input[type=password]:focus,
.op-input input[type=type]:focus {
  background-color: white !important;
  border-bottom: 1px solid #225665 !important;
  box-shadow: 0 1px 0 0 #225665 !important;
}

main {
  width: 790px;
  margin: 0 auto;
}

.card .card-content p.fund-metrics {
  height: 41px;
}

.h55 {
  font-size: 1.3rem;
}

.light-grey {
  color: #a3a3a3;
}

.filter {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.row.filter-title .col {
  padding-left: 0;
}

.row .col.filter-col {
  background-color: white;
  overflow-y: scroll;
  padding: 0 40px;
  max-width: 450px;
}
.row .col.filter-col h4 {
  margin-top: 0;
  margin-left: 0;
}
.row .col.filter-col h5 {
  color: #6f6d6d;
}

.filter-col .row:first-child {
  padding-bottom: 10px;
}

.gunstocks .card {
  border-radius: 5px;
}
.gunstocks .card .ticker {
  text-shadow: none;
  margin: 0;
}
.gunstocks .card .card-content.gun-full {
  background-color: rgba(255, 170, 0, 0.64);
}
.gunstocks .card .card-content.gun-free {
  background-color: #44ae53;
}
.gunstocks .card .card-title {
  line-height: 36px;
  display: inline-flex;
}

.bold {
  font-weight: bold;
}

.no-category-animation {
  display: inline-block;
  color: #ef5350;
}

.category-animation {
  display: none;
  color: #ef5350;
  overflow: hidden;
}

.fund-percent {
  padding: 5px;
  margin: 25px;
}
.fund-percent .btn {
  color: white;
}

.ranger {
  padding: 20px 0 40px 0;
}

.range-val {
  padding-top: 10px;
}

.noUi-tooltip span {
  display: none;
}

.autocomplete-content li img {
  height: 35px;
  width: initial;
  margin-top: 7px;
}

.circle {
  border-radius: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 5px;
}

.material-icons.category-icons {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.material-icons.icons {
  height: 50px;
  width: 50px;
  text-transform: lowercase;
  margin-bottom: 13px;
}
.material-icons.fundSize.very-high {
  background: url("/images/icons/icons8-Combo Chart-50.png") no-repeat;
}
.material-icons.fundSize.high {
  background: url("/images/icons/icons8-Combo Chart-50.png") no-repeat;
}
.material-icons.fundSize.medium {
  background: url("/images/icons/icons8-Combo Chart-50.png") no-repeat;
}
.material-icons.fundSize.low {
  background: url("/images/icons/icons8-Negative Dynamic-50.png") no-repeat;
}
.material-icons.fundSize.very-low {
  background: url("/images/icons/icons8-Negative Dynamic-50.png") no-repeat;
}
.material-icons.expense {
  background: url("/images/icons/icons8-Coin-50.png") no-repeat;
}
.material-icons.region {
  background: url("/images/icons/icons8-USA Map Filled-50.png") no-repeat;
}
.material-icons.risk {
  background: url("/images/icons/icons8-Line Chart Filled-50.png") no-repeat;
}
.material-icons.returns.very-high {
  background: url("/images/icons/icons8-Increase-50.png") no-repeat;
}
.material-icons.returns.high {
  background: url("/images/icons/icons8-Increase-50.png") no-repeat;
}
.material-icons.returns.medium {
  background: url("/images/icons/icons8-Neutral Trading-50.png") no-repeat;
}
.material-icons.returns.low {
  background: url("/images/icons/icons8-Decrease-50.png") no-repeat;
}
.material-icons.returns.very-low {
  background: url("/images/icons/icons8-Decrease-50.png") no-repeat;
}
.material-icons.dividend {
  background: url("/images/icons/icons8-Deposit-50.png") no-repeat;
}

label {
  color: black !important;
}

#questionnaire {
  margin: 100px auto;
}
#questionnaire label {
  color: black;
  text-transform: uppercase;
}
#questionnaire .btn.previous,
#questionnaire .btn.next,
#questionnaire .btn.submit {
  margin: auto 20px;
}
#questionnaire .progress-title {
  margin: auto 20px;
}
#questionnaire .indicators {
  bottom: -28px;
}
#questionnaire .indicator-item {
  background-color: #225665;
}
#questionnaire .indicator-item.active {
  background-color: #00A5A9;
}

.exit {
  position: absolute;
  top: 0;
  left: 0;
}

.subpage {
  border-bottom: 1px #d7d7d7 solid;
  padding: 0 !important;
}
.subpage .brand {
  margin-left: 140px;
}
.subpage .brand-logo {
  padding: 0;
  margin: 0;
  width: 140px;
  height: 64px;
  background-color: #55606e;
  box-shadow: none;
}
.subpage .logo {
  padding: 0;
  margin: 19px 0 0 5px;
}
.subpage input[type=search] {
  border-bottom: 1px solid #d7d7d7 !important;
  background-color: white;
  color: #4d4d4d !important;
}
.subpage input[type=search]::-webkit-input-placeholder {
  color: #4d4d4d !important;
}
.subpage input[type=search]:-moz-placeholder {
  /* Firefox 18- */
  color: #4d4d4d !important;
}
.subpage input[type=search]::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4d4d !important;
}
.subpage input[type=search]:-ms-input-placeholder {
  color: #4d4d4d !important;
}
.subpage input[type=search]:focus {
  background-color: mintcream;
}

.autocomplete-content.dropdown-content {
  position: relative;
}

nav .input-field label i,
nav .input-field label:active i {
  color: black !important;
}

.close, .closed {
  display: none;
}

@media only screen and (max-width: 1000px) {
  nav .brand-logo {
    display: none;
  }

  .close, .closed {
    display: block;
  }

  .subpage .brand.closed {
    display: none;
  }
  .subpage .brand {
    margin-left: 0;
  }
  .subpage .button-collapse {
    float: right;
    z-index: 5;
    color: black;
  }
  .subpage .nav-wrapper .no-brand .input-field input[type=search] {
    position: relative;
    z-index: 1;
    top: -56px;
  }
  .subpage .nav-wrapper .no-brand .input-field .autocomplete-content {
    top: -56px;
  }
  .subpage .nav-wrapper .no-brand .input-field .label-icon {
    z-index: 2;
  }
}
@media only screen and (max-width: 600px) {
  .subpage .nav-wrapper .no-brand .input-field input[type=search] {
    top: -56px;
  }
  .subpage .nav-wrapper .no-brand .input-field .autocomplete-content {
    top: -56px;
  }
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 0) {
  .pagination {
    display: none;
  }
}
.logo {
  max-width: 600px;
  padding: 20px 0 0 0;
}

.section-title {
  font-weight: bold;
  color: #6b6b6b;
}

.section-description {
  color: #868686;
}

.company-search {
  color: #c5d3c5;
}

.asset-class {
  text-transform: capitalize;
}

.header-row .fund-name {
  font-weight: bolder;
}

.ticker-container {
  margin-right: 50px;
}
.ticker-container .ticker {
  text-shadow: none;
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding: 14px 20px 5px 20px;
  margin: -26px -20px 12px -20px;
}
.ticker-container .card-title {
  margin: 10px 0 0 0;
}

.powerful-tool .section-title {
  overflow: hidden;
}

.category-filter {
  margin-bottom: 0;
}
.category-filter .col {
  margin-bottom: 20px;
}
.category-filter .btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  /* margin: 10px; */
  height: 70px;
  width: 100px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.category-filter .btn:hover .unfilled {
  display: none;
}
.category-filter img {
  margin: 10px;
}

.center {
  text-align: center;
  margin: auto;
}

.tipr_container_below {
  background: black;
  color: white;
}

.hoverable {
  cursor: pointer;
}

.side-nav {
  width: 400px;
  font-size: 14px;
}
.side-nav li {
  line-height: 21px;
}
.side-nav li.no-marg {
  margin: 0;
}
.side-nav .row {
  border-bottom: 1px solid #d7d7d7;
}
.side-nav .row p.s3 {
  margin-left: 20px;
  font-weight: bold;
  color: #606060;
}
.side-nav .select-wrapper input.select-dropdown {
  height: 32px;
}
.side-nav .select-wrapper .select-dropdown {
  color: #606060;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

.filter #spinner {
  position: fixed;
  top: 50%;
  left: 55%;
}

.cards-container {
  background-color: #f2f2f2;
}
.cards-container .cards-col {
  width: 100%;
  padding: 0;
}
.cards-container .cards-col .cards-list-header {
  position: relative;
  height: 40px;
  padding: 5px 10px;
  background-color: #ebebeb;
}
.cards-container .cards-col .cards-list-header h6 {
  color: #4d4d4d;
  font-weight: bold;
  margin-left: 10px;
}
.cards-container .cards-col .card-list {
  padding: 10px 10px 100px 10px;
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards-container .cards-col .card-list i.material-icons:first-child {
  margin: 10px 0 0 0;
}
.cards-container .cards-col .card-list i.material-icons.left {
  float: left;
}
.cards-container .cards-col .card-wrapper {
  flex-grow: 1;
  margin: 0 20px;
}
.cards-container .cards-col .card {
  margin: 10px auto;
  width: 215px;
  height: 300px;
  border-radius: 5px;
}
.cards-container .cards-col .card .card-content {
  padding: 20px;
}

.fund .overview .card.gold .metal, .fund .overview .card.silver .metal, .fund .overview .card.bronze .metal, .fund .overview .card.none .metal {
  width: unset;
  margin: 20px 0 0 0;
}

.card {
  border-radius: 5px;
}
.card .metal {
  width: 60px;
  margin: 15px;
}
.card.platinum {
  background-color: #627d76;
}
.card.platinum .card-bg {
  background-color: #abb3b3;
}
.card.gold {
  background-color: #877745;
}
.card.gold .card-bg {
  background-color: #bfad76;
}
.card.silver {
  background-color: #91a1aa;
}
.card.silver .metal {
  width: 55px;
}
.card.silver .card-bg {
  background-color: #bdc9d1;
}
.card.bronze {
  background-color: #876345;
}
.card.bronze .card-bg {
  background-color: #ba8254;
}
.card.none {
  background-color: #909090;
}
.card.none .card-bg {
  background-color: #cecece;
}
.card.missed-ranking {
  background-color: darkred;
}
.card.missed-ranking .card-bg {
  background-color: white;
}
.card .card-content {
  color: white;
}
@media only screen and (max-width: 500px) {
  .card .card-content .card-percentage {
    font-size: 2rem !important;
  }
}
.card .card-content .card-percentage {
  margin: 0;
}
.card .card-content .card-percentage-description {
  margin: 5px 12px;
  font-size: 16px !important;
}
.card .card-bg {
  position: relative;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: normal;
  padding: 20px;
  margin: 0;
  text-align: center;
  background-size: cover;
  height: 60%;
  border-radius: 5px 5px 0px 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent 400px, rgba(0, 0, 0, 0.8) 800px);
  background-size: 800px 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.card .ticker {
  text-shadow: none;
  box-shadow: none;
  border-radius: 25px;
  border: 2px solid #b7b7b9;
  font-weight: bold;
  color: #868687;
  margin: 0;
  line-height: 36px;
  display: inline-flex;
}
.card .fund-name {
  color: black;
  display: block;
  display: -webkit-box;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-shadow: none;
  margin-bottom: 0;
}
.card .fund-type {
  color: #2f2626;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-shadow: none;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
}
.card .fund-type i {
  vertical-align: middle;
}

.pagination li:last-child a {
  padding-right: 0;
}

header, .cards-container, footer {
  padding-left: 400px;
}
header.no-padding, .cards-container.no-padding, footer.no-padding {
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  header, .cards-container, footer {
    padding-left: 0;
  }
}
.fund-detail-carousel {
  overflow: visible;
  top: -115px;
}

@-webkit-keyframes fadeIt {
  0% {
    background-color: #b71c1c;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-moz-keyframes fadeIt {
  0% {
    background-color: #b71c1c;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-o-keyframes fadeIt {
  0% {
    background-color: #b71c1c;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #b71c1c;
  }
  100% {
    background-color: #FFFFFF;
  }
}
.invalid {
  background-image: none !important;
  -webkit-animation: fadeIt 1s ease-in-out;
  -moz-animation: fadeIt 1s ease-in-out;
  -o-animation: fadeIt 1s ease-in-out;
  animation: fadeIt 1s ease-in-out;
}

.shake {
  outline-color: red;
  /* also need animation and -moz-animation */
  -webkit-animation: shake .6s linear;
}

/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
  0% {
    left: -10px;
  }
  16% {
    left: 9px;
  }
  33% {
    left: -6px;
  }
  50% {
    left: 5px;
  }
  66% {
    left: -2px;
  }
  83% {
    left: 1px;
  }
  100% {
    left: 0px;
  }
}
.onepebble-primary {
  background-color: #225665 !important;
}

.onepebble-primary-text {
  color: #225665 !important;
}

.onepebble-secondary {
  background-color: #00A5A9 !important;
}

.onepebble-secondary-text {
  color: #00A5A9 !important;
}

.onepebble-highlight {
  background-color: #ffaa00 !important;
}

.onepebble-highlight-text {
  color: #ffaa00 !important;
}
