<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>One Pebble</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css" type="text/css" media="screen,projection"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="styles/nouislider.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/tipr.css">
    <link rel="stylesheet" href="bower_components/Wodry.js/css/wodry.css">
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="body">
    <main class="container center-align">
        <img width="100%" src="/images/OnePebble_Logo-marine-horizontal.png" alt="One Pebble" class="logo">

        <div id="spinner">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

      <!--  <div class="row category-filter">
          <div class="col s6 m4 l2">
              <button class="btn waves-effect waves-light category-guns">
                  <img src="images/icons/icons8-Gun-50.png" class="unfilled">
                  <img src="images/icons/icons8-Gun-Filled-50.png" class="filled">
              </button>
          </div>
            <div class="col s6 m4 l2">
                <button class="btn waves-effect waves-light category-alcohol">
                    <img src="images/icons/icons8-Beer-50.png" class="unfilled">
                    <img src="images/icons/icons8-Beer-Filled-50.png" class="filled">
                </button>
            </div>
            <div class="col s6 m4 l2">
                <button class="btn waves-effect waves-light category-tobacco">
                    <img src="images/icons/icons8-Smoking-50.png" class="unfilled">
                    <img src="images/icons/icons8-Smoking-Filled-50.png" class="filled">
                </button>
            </div>
            <div class="col s6 m4 l2">
                <button class="btn waves-effect waves-light category-porn">
                    <img src="images/icons/icons8-Porn-Folder-50.png" class="unfilled">
                    <img src="images/icons/icons8-Porn-Folder-Filled-50.png" class="filled">
                </button>
            </div>
            <div class="col s6 m4 l2">
                <button class="btn waves-effect waves-light1 category-oil">
                    <img src="images/icons/icons8-Oil-Industry-50.png" class="unfilled">
                    <img src="images/icons/icons8-Oil-Industry-Filled-50.png" class="filled">
                </button>
            </div>
            <div class="col s6 m4 l2">
                <button class="btn waves-effect waves-light category-gambling">
                    <img src="images/icons/icons8-Slot-Machine-50.png" class="unfilled">
                    <img src="images/icons/icons8-Slot-Machine-Filled-50.png" class="filled">
                </button>
            </div>
        </div>-->

        <!--<nav>-->
            <!--<div id="" class="nav-wrapper">-->
            <!--</div>-->
        <!--</nav>-->

    </main>
</div>

<script id="tplFlashMessage" type="text/template">
    <div class="alert alert-<%= type %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
    </div>
</script>


<!-- build:dev -->
<script src="bower_components/mockjs/dist/mock.js"></script>
<script src="scripts/mock_inject.js"></script>
<!-- endbuild -->
<!-- build:js scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/materialize/dist/js/materialize.min.js"></script>
<script src="bower_components/velocity/velocity.min.js"></script>
<script src="bower_components/cookiejs/cookie.js"></script>
<script src="bower_components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script src="bower_components/materialize-autocomplete/jquery.materialize-autocomplete.min.js"></script>
<script src="bower_components/Wodry.js/dist/wodry.min.js"></script>
<script src="scripts/libs/tipr.min.js"></script>
<script src="scripts/libs/nouislider.min.js"></script>

<!-- endbuild -->
<!-- build:js scripts/plugins.js -->
<script src="bower_components/moment/min/moment.min.js"></script>
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/templates.js"></script>

<!-- models-->
<script src="scripts/models/search.js"></script>
<script src="scripts/models/fund.js"></script>
<!-- collections -->
<script src="scripts/collections/searches.js"></script>
<script src="scripts/collections/funds.js"></script>

<!-- views-->
<script src="scripts/views/login.js"></script>
<script src="scripts/views/questions.js"></script>
<script src="scripts/views/search.js"></script>
<script src="scripts/views/fund.js"></script>
<script src="scripts/views/funds.js"></script>

<!-- routes -->
<script src="scripts/routes/all.js"></script>
<!-- endbuild -->

</body>
</html>
